.App {
  background-color: #293241;
}

.beerList {
  justify-content: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
  padding: 0px;
}

.title {
  text-align: center;
  font-size: 84px;
  color:  #EFF7FF;
  margin: 0px;
  padding-top: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}